/* This is a CSS file */
/* Copyright&copy;2013 System Lab, Ltd. All Rights Reserved. */

body {
    font-size: 11px;
}

#filler {height:2px;}

.toolbar {
    background-color: #006400;
}

.sepTable {
    width: 100%;
}

.s_content {
    font-size:120%;
}

.cal_day_week {
    font-size:100%;
    text-align: center;
}

.cal_day_date {
    font-size:100%;
    text-align: center;
    background-color: #FFFFFF;
    border:#800080 1px double;
    border-collapse: collapse;
}

.cal_day_kinm,
.cal_day_over,
.cal_day_work,
.cal_day_nght {
    font-size:100%;
    text-align: left;
}

.cal_day_biko {
    font-size:100%;
    text-align: left;
}

.cal_day_holi {
    font-size:100%;
    text-align: left;
    color:red;
}

.sumTable {
    border:#696969 1px double;
    border-collapse: collapse;
    width: 100%;
}

.t_header {
    border-left:#696969 1px double;
    border-right:#696969 1px double;
    font-size:100%;
	text-align: center;
	padding: 1px;
    background-color: #000000;
}

.t_content {
    border-top: #696969 1px double;
    border-left:#696969 1px double;
    border-right:#696969 1px double;
	text-align: center;
    font-size:100%;
	padding: 1px;
	vertical-align: top;
    background-color: #A9A9A9;
}

.editDayData {
    /*width: 90%;*/
}

.Configure {
    /*width: 90%;*/
}

.copyright{
    font-size: 75%;
    text-align: center;
}

.hidden_contents{
    display: none;
    padding: 0px;
    margin: 0px;
}

.content_padding_top_bottom{
    padding-top: 10px;
    padding-bottom: 10px;
}

.content_div{
    clear: both;
}

.content_title{
    float: left;
    width: 70px;
}

.content_detail{
    clear: both;
}

.content_float_left{
    float: left;
}

.row_today {
    background-color: #FFFACD;
}
